

<div class="container">
  <div class="row">  
   <h3 style ="font-family: 'Source Sans Pro Light', sans-serif; ">Author: Raul Gonzalez Herrero -raul@gonzalezherrero.es-</h3>


  
   <h3 style ="font-family: 'Source Sans Pro Light', sans-serif; ">Description</h3>

<p> A private and permitted Blockchain system will be developed that allows the creation, assignment, redemption and exchange of "digital points" of loyalty between participating companies and customers, without the need for intermediaries and administrators of any kind.
</p>
<div class="info">
  <p><strong>Note:</strong> The blockchain network will have multiple members and partners</p>
</div>
   <h3 style ="font-family: 'Source Sans Pro Light', sans-serif; ">Members taking part on this system:</h3>

<ul style="list-style-type:disc;">
  <li><u>Clients</u>: will be the people participating in the Loyalty program. Each customer will be identifiable through a Hash associated with their registration data.
</li>
  <li><u>Partners</u>: will be the companies participating in the Loyalty program, where customers can make purchases to obtain goods or services. Each partner will have, in turn, one or more sales establishments (physical or online) where contact with customers is made.
</li>
  <li><u>Loyalty Manager Consortium</u>: It will be the non-profit association formed by the organizations described above.
</li>
</ul>  

 <h3 style ="font-family: 'Source Sans Pro Light', sans-serif; ">Scheme </h3>
<p align="center">
  <img src="https://lh3.googleusercontent.com/8bfgaXo6mdwzMbBZIOgjDQFdEhLIht42-8lAeffF_bnVLqdbC8C4GEewlIwIce0qsNCq53-FwbCKW_QWqttAjb8E87ktXcUpdzGgJ4nn94rrZYlAQcgxEQtzgoof7G6D-nMxLr4xARVk4FFMF9jETHIoRCPjOw0fLG0879nJR5S7A88y14ogj7_j7nrXB3XdcuFo43MMHKzy5nx3Xh-tZSJaKgDyCzC8syQAI3Bsar12CdX67K-rPUtlZYZzGDgWpnOxxyIJFlTLwx_vrtDEqosZ3cxjD1x4i8iJUdD7pFUqFIHEHy4LvS16bQBKRazvspE1Ho6OOJOZhMcSbACjD5Awelz6Sv668rQb0QieBywy6StSN0iHaVH4TZGgI78Pwg5FcWZbiJ4ApQ2X5CoFYN2Eodih0JL9t9fA1pZ4wEmp2Fj13xKItlGSVLXKE2TGr4lDOgtjjTn338U-aAZoZ7fLwLhGOYDEqcM2-Ebbm4s0BoqL4JLUrEleYG-CL5pwIYTsO8HVNVHmzrMFM9srtBC9iPxCGRSrAGZTOWe_8c5Fl0mFvKaqtkWMMcnrZdZMmwOd6TLS3dMIDtO4ePVh9ITkeKw46g5mIAArH25TOaKvmPikHUSG1oSPKdkT0hmm8llVoixikqq-tG8N4E0XBOJJWgG98URP=w975-h977-no"
class="img-fluid" alt="Responsive image">
</p>

   <h3 style ="font-family: 'Source Sans Pro Light', sans-serif; ">Types of Transactions</h3>

<ul style="list-style-type:circle;">
  <li>Registry Transactions</li>
<ul style="list-style-type:square;">
  <li>Registration of a participating organization in the Loyalty consortium (new member)
</li>
  <li>Registration of a retail establishment of the participating organization
</li>
  <li>Registration of customers who will participate in the system
</li>
</ul>


  <li>Asset Transfer Transactions</li>
<ul style="list-style-type:square;">
  <li>Sale of Loyalty assets, from the consortium to the partners, to be granted to their clients.
</li>
  <li>Purchase of Loyalty assets to the participating partners by the consortium</li>
  <li>Delivery of Loyalty assets (Issue) to the clients by the partners, in the form of rewards, for purchases made in their sales establishments</li>
  <li>Collection of Loyalty assets (Redemption) of the Clients by the partners, which will represent discounts on purchases made.</li>
  <li>Loyalty assets transfer between clients, directly.</li>
</ul>


</ul>  


  </div> 

  
</div>